[package]
name = "silkroad-agent"
version = "0.1.0"
edition = "2021"

[dependencies]
tracing-subscriber.workspace = true
silkroad-protocol = { path = "../silkroad-protocol" }
silkroad-rpc = { path = "../silkroad-rpc" }
silkroad-navmesh = { path = "../silkroad-navmesh", features = ["pk2"] }
silkroad-data = { path = "../silkroad-data" }
silkroad-game-base = { path = "../silkroad-game-base" }
silkroad-definitions = { path = "../silkroad-definitions" }
skrillax-server = { path = "../skrillax-server" }
skrillax-protocol.workspace = true
skrillax-stream.workspace = true
tokio.workspace = true
axum = { version = "0.7", default-features = false, features = [
    "http1",
    "json",
    "tokio",
    "tower-log",
    "macros",
] }
bytes = "1.8"
once_cell.workspace = true
byteorder.workspace = true
rand.workspace = true
crossbeam-channel = "0.5"
tracing.workspace = true
config.workspace = true
sqlx.workspace = true
log.workspace = true
serde.workspace = true
thiserror.workspace = true
chrono.workspace = true
itertools = "*"
bevy_ecs = "0.14"
bevy_ecs_macros = "0.14"
bevy_core = "0.14"
bevy_app = "0.14"
bevy_tasks = "0.14"
bevy_time = "0.14"
cgmath = "0.18"
pk2.workspace = true
id-pool = { version = "0.2", features = ["u32"], default-features = false }
derive_more = "0.99.17"
futures = "0.3"
